<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
      <ion-img src="assets/images/header.jpg"></ion-img><br><br>

      <div>
        <center> <h2> Enter the Email address associated with your account...</h2>
        </center>
    <br>
      </div>
      <div>
        <ion-item>
          <ion-input type="text"  placeholder="Enter Email Address">
         <ion-icon name="mail-outline"></ion-icon>
         </ion-input>
         </ion-item>
      </div>
    

      <div class="sign-btn-wrap">
        <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn"  >Send</ion-button>
       </div>
       
        
    </ion-card>
</ion-content>
