<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-title><img class="logo-header" src="../../../assets/images/title.jpeg"></ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
<br><br><br><br><br><br><br>
   <ion-card>
     <ion-card-header>
       <ion-card-title>
        {{profile.name}}
       </ion-card-title>
     </ion-card-header>
 
     <ion-card-content>
       <ion-item lines="none">
         <ion-icon name="mail"></ion-icon>
         <ion-label>{{profile.email}}</ion-label>
       </ion-item>
         <ion-item lines="none">
           <ion-icon name="call"></ion-icon>
           <ion-label>{{profile.phone}}</ion-label>
         </ion-item>
     </ion-card-content>
   </ion-card>
   <ion-button (click)="logout()" expand="block" fill="clear" shape="round">
     logout
   </ion-button>
</ion-content>

