<ion-header>
  <ion-toolbar>
    <ion-title>AddMovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addMovieForm" (submit)="addMovie()">
    <ion-item>
      <ion-label stacked>Movie Name</ion-label>
      <ion-input
        formControlName="title"
        type="text"
        placeholder="What's this movie called?"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Genre</ion-label>
      <ion-input
        formControlName="genre"
        type="text"
        placeholder="Movie Genre?"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Duration</ion-label>
      <ion-input
        formControlName="duration"
        type="text"
        placeholder="Movie duration?"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Movie Director</ion-label>
      <ion-textarea
        formControlName="director"
        type="text"
        placeholder="Who is the director!"
      >
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Story Line</ion-label>
      <ion-input
        formControlName="storyLine"
        type="text"
        placeholder="What's the movie's story?"
      >
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Stars</ion-label>
      <ion-input
        formControlName="stars"
        type="text"
        placeholder="cast?"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date </ion-label>
        <ion-datetime  formControlName="date" display-format="DD.MM.YYYY HH:mm"></ion-datetime>
    </ion-item>
    <ion-item>
    <ion-label> Select file to upload</ion-label>
      <ion-img
      [src]="imgSrc"
      width="350px"
      height="250px"
    ></ion-img>
    <ion-input
      type="file"
      accept="image/*"
      formControlName="imageUrl"
      #fileUploader
      (change)="showPreview($event)"
    ></ion-input>
  </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!addMovieForm.valid">
      Add Movie
    </ion-button>
  </form> 
</ion-content>